* {
  box-sizing: border-box;
}

/*Per convertire 1 rem in 10px anzichè avere 1rem= 6px*/
html{
    font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container{
    width: 100%;
    min-height: 100vh;
    background-color: #f5ebe0;
    display: grid;
    place-items: center;
    perspective: 100rem;
}

@media(max-width: 500px){
    html{
      font-size: 55%;  
    }
}

